questionnaire.txt
LOGO_JUNO7-1_profile.png
baget projet section.png
lsv media logo animation projet section.mp4
spot plog n' play projet section.mp4
thalatate logo projet section.jpg
thalathane logo profile.jpg
luckson avatar.jpg
mora avatar.jpeg
2 won manman final project \[C72FA31\].mp4
20250226_203417.jpg
20251210_133249.png
New Project 24 \[19E461E\].mp4
Project (20240605092857).png
Project (20251117102958).png
Projet principal (video ads) \[924EF2E\].mp4
animation flyer NGS.mp4
audio visualiser.mp4
cartde visite.png
flyer baget.png
flyer cher BIBI.jpg
flyer ctn promo.png
flyer ctn.png
flyer event promo.png
flyer happybirday.jpg
flyer happybirthday.png
flyer news ctn.png
flyer prmo.png
flyer promo THalatane.jpg
flyer promo chez bibi.png
flyer promo.png
flyer.png
flyers thalatane product.jpg
graphique desing .png
hot sauce logo (20240630124607).png
logo Lynn animation \[E1A3D2F\].mp4
logo Miyoo cookee.jpg
logo Thalatane.png
logo aniamtion bridgcare.mp4
logo animation lsv media.mp4
logo animation plug and play.mp4
logo budget app.png
motin graphique lsv media.mp4
motion graphique event promo.mp4
motion graphique juno7.mp4
motion graphique lsv media.mp4
motion graphique mojeuti intertement.mp4
motion graphique radio amerique international.mp4
motion graphique.mp4
packaging-epis cho (20240408051739).jpg
packaging.png
spot chez BIBI.mp4
spot pub chez BIBI.mp4
viniette ctn.jpg